{% extends 'base.html' %}

{% block title %}Resume Homepage{% endblock %}

{% block content %}

    <div class="jumbotron">

      <h1 class="display-3">Homepage</h1>
      <p>
            Welcome to my blogpost. Here you can create and write posts about the topics you want
            to talk about. Also this blogpost has a todo tool for creating reminders for yourself.<br>
            Best wishes, <br>
            The Author <br>
      </p>

      <p>&copy; Dmytro Huk 2023</p>

    </div>


{#    <div class="pageSection">#}
{#        <h2>Homepage</h2>#}
{#        <section>#}
{#            #}
{#        </section>#}
{##}
{#        <p>&copy; Dmytro Huk 2023</p>#}
{#    </div>#}
{% endblock %}
