{% extends 'base.html' %}
{% block title %} Posts {% endblock %}

{% block content %}
<section>
    <div class="pageSection">
        <h2>Category : {{ category.name }}</h2>
        <br>
        <h4>Links to the posts with the given category : </h4>
        <ul>
            {% for post in posts %}
                <li>
                    <h5><a class="postAnchor" href="{{ url_for('posts.view_post', id=post.id) }}">{{ post.title }}</a></h5>
                </li>
                {% else %}
                    <p>
                        <h5>There are no posts assigned for to this category</h5>
                    </p>
            {% endfor %}


        </ul>
        <br>
        <div class="databaseOutputButtons">
            <a class="underline" href="{{ url_for('posts.update_category', id=category.id) }}">Update the category</a>
            <br><br>
            <a href="{{ url_for('posts.delete_category', id=category.id) }}"
               onclick="return confirm('Are you sure you want to delete this category?');"
               class="underline">
                Delete the category
            </a>
            <br><br>
            <a class="underline" href="{{ url_for('posts.view_categories') }}">Back to the list of all categories</a>
        </div>
    </div>
</section>
{% endblock %}