{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% macro render_field(field, placeholder='') %}
    {% if field.id == 'old_password' %}
        {{ field(placeholder='Enter your old password: ') }}<br><br>
    {% elif field.id == 'new_password' %}
        {{ field(placeholder='Enter your new password: ') }}<br><br>
    {% elif field.id == 'confirm_new_password' %}
        {{ field(placeholder='Confirm your new password: ') }}<br><br>
    {% elif field.id == 'submit' %}
        {{ field(placeholder='Save the new password') }}<br><br>
    {% else %}
        {{ field(placeholder=placeholder) }}<br><br>
    {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <p class="flash-error"><strong>{{ error }}</strong></p>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}

    <div class="pageSection">
        <h2>Change your password</h2>
        <br>
        <form method="POST" novalidate id="changePasswordForm">
            {{ form.csrf_token }}
            {{ render_field(form.old_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.confirm_new_password) }}
            {{ render_field(form.submit) }}
        </form>
    </div>
{% endblock %}
